header {
	text-align: center;
	background-image: url("image1.png");
	color: white;
}

#changeling, #next, #teacher, #refresher {
	display: none;
}

#changeling {
	background-image: url("image3.png");
}

#next, #refresher {
	color: green;
}

.second, .first {
	text-align: center;
	margin: 10px;
}
.second div {
	display: inline-block;
	background-color: #FAFAFA;
	margin: 3px 10px;
	border-radius: 4px;
}

.second {
	vertical-align: text-top;
}

#info {
	width: 80%;
	text-align: center;
	margin: auto auto;
}

#questions, #answers {
	text-align: left;
	width: 80%;
	margin: auto auto;
}
#questions span {
	display: block;
	font-weight: bolder;
	font: 20px "Comic Sans MS", cursive;
}
#questions p {
	color: #08088A;
	font-size: 1.5em;
}

legend {
	color: #0B3861;
	font-size: 1.2em;
}

.pick {
	margin-top: 10px;
	width: 80%;
	border: 3px solid #BDBDBD;
	border-radius: 8px;
	background-color: #F2F2F2;
	text-align: left;
}
#answers button {
	font-size: 20px;
	font-weight: lighter;
}

#answers button:hover {
	cursor: pointer;
	color: blue;
}

.response {
	color: #08088A;
}